<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597540165276-65c5e49koqavoq7nr1ptgfhlavpo25jq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597540165276-65c5e49koqavoq7nr1ptgfhlavpo25jq</string>
	<key>API_KEY</key>
	<string>AIzaSyBiunqUSVXi6l67WCQxVZzMORc9FwqqUQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>597540165276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockManagement</string>
	<key>PROJECT_ID</key>
	<string>stockapp-7250e</string>
	<key>STORAGE_BUCKET</key>
	<string>stockapp-7250e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597540165276:ios:edfd1dfdea4cc20bc53f59</string>
</dict>
</plist>